.App {
  text-align: center;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  position: sticky;
  z-index: 1;
  top: 0;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.title {
  font-weight: bold;
  font-size: x-large;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.modal-open-btn, .modal-close-btn {
  border: none;
  padding: 0.8em;
  background-color: bisque;
  border-radius: 1em;
  font-weight: bold;
}

.modal-open-btn:hover, .modal-close-btn:hover {
  border: none;
  padding: 0.8em;
  background-color: rgb(184, 83, 46);
  color: aliceblue;
}

.content-container, .about, .meals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.content-container {
  min-height: 100vh;
}

.about {
  width: 45%;
  background-color: #323132;
  color: white;
  padding: 1em;
  border-radius: 1em;
  margin: 2em;
  margin-bottom: 0em;
}

.meals-container {
  width: 50%;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  margin: 2em;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.active-modal {
  overflow-y: hidden;
}

.Modal, .Modal-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.Modal-overlay {
  background: rgba(49,49,49,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal-content {
  position: relative;
  width: 40%;
  max-width: 600px;
  min-width: 200px;
  height: fit-content;
  max-height: 80vh;
  border-radius: 1em;
  padding: 1em;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.modal-meal-list {
  overflow-y: scroll;
}

.cart-meal-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-meal-info {
  width: auto;
}

.meal-price-n-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hori {
  display: flex;
  gap: .3em;
}

.order-form {
  overflow-y: auto;
}

.meal-container {
  display: grid;
  grid-template-columns: 20% 55% auto;
  gap: 0.5em;
  /* d-flex align-items-center justify-content-between */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  /* height: 100%;
  width: 100%; */
}

/* .meal-img-container {
  width: 20%;
} */

.meal-img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  /* border-radius: 1em; */
}

.meal-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  /* flex: 1 1 1; */
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.input-is-invalid {
  background-color: red;
  color: white;
}

.meal-amount-cnt {
  border: none;
  border: 1px solid gray;
}

.meal-amount-cnt:focus-visible {
  outline: rgb(57, 123, 177) auto 1px;
}

.order-nav {
  /* d-flex justify-content-end w-100 */
  display: flex;
  justify-content: end;
  gap: 0.5em;
  align-items: center;
  width: 100%;
}

.add-meal-form-btn {
  /* d-flex justify-content-end align-items-center mt-2 */
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 0.5em;
}

.to-top-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-10%, -50%);
  background-color: red;
  padding: 0.5em 1em;
  border-radius: 0.8em;
  color: white;
  transition: background-color 0.1s;
}

.to-top-btn:hover {
  background-color: rgb(151, 8, 8);
  color: white;
}

.contacts {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .meals-container, .about {
    width: 95%;
    margin: 1em;
  }

  .Modal-content {
    width: 95%;
  }

  .order-form {
    overflow: initial;
  }

  .meal-img {
    aspect-ratio: 1;
    align-self: flex-start;
  }

  .meal-price {
    text-align: right;
  }
  
  .meal-description {
    /* max-height: 1em; */
    /* overflow:visible; */
    order: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .meal-info {
    align-self: self-start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .order-nav {
    justify-content: space-around;
  }

  .order-nav button {
    width: 40%;
  }

  .add-meal-form {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
  }

  .add-meal-form-btn {
    margin: 0;
    width: 40%;
  }

  .add-meal-form-body {
    width: 50%;
  }

  .to-top-btn {
    position: fixed;
    top: auto;
    bottom: 0;
    right: 0;
    transform: none;
    margin: 0.5em;
  }

  .contacts {
    grid-template-columns: 1fr 1fr;
  }
}